<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>This app needs access to read workout data to sync workout plans.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This app needs access to save workout plans to your Health app.</string>
</dict>
</plist>
